* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: whitesmoke;
  }
  body{
	background-color: whitesmoke;
  }
h1{
	font-size: 4rem;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2rem;
}
.btn{
	font-size: 2rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
}

/*----------------------Header------------------*/
nav, .nav-link{
	display: flex;
	background-color: rgb(122, 247, 247);
	text-align: center;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}

/*---banner---*/
.banner{
	height: 600px;
	background-image: url(./img/banner.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
/*----------------------Main----------------*/
/*--------welcome------*/
.welcome{
	display: flex;
	justify-content: space-around;

}
.welcome-card{
	display: flex;
	background-color: blue;
	width: 400px;
	height: 320px;
	outline: 10px solid whitesmoke;
	margin-top: -8rem;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.products{
	background-image: url(./img/products.png);
	background-size: cover;
}
.brewing{
	background-image: url(./img/brewing.png);
	background-size: cover;
}
.about{
	background-image: url(./img/abouth.png);
	background-size: cover;
}
/*-----action----*/
.action-cards{
	display: flex;
	justify-content: space-around;
}
.action{
	text-align: center;
}
.action h2, .action h3, .action p{
	color: black;
}
.action-card{
	outline: 1px solid gray;
	width: 350px;
	height: 490px;
	background-color: white;
}