* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;

	/* color: whitesmoke; */
  }
  body{
	background-color: whitesmoke;
  }
h1{
	font-size: 5rem;
	letter-spacing: 2rem;
	text-transform: uppercase;
}
h2{
	font-size: 4rem;
}
h3{
	font-size: 3rem;
}
p{
	font-size: 2rem;
}
.btn{
	font-size: 2rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.904);
	border: none;
	padding: 1rem;
}
.btn:hover{
	background-color: darkgray;
	color: whitesmoke;
	cursor: pointer;
}

/*----------------------Header------------------*/
nav, .nav-link{
	display: flex;
	background-color: rgb(122, 247, 247);
	text-align: center;
	justify-content: space-between;
	align-items: center;
}
ol, span{
	font-size: 2rem;
	color: black;
	padding-left: 1.5rem;

}
ol:hover, span:hover{
	color: gray;
	cursor: pointer;
}

/*---banner---*/
.banner{
	height: 600px;
	background-image:linear-gradient(rgba(0,0,0,0.111), rgba(0,0,0,1)), url(./img/banner.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
/*----------------------Main----------------*/
/*--------welcome------*/
.welcome{
	display: flex;
	justify-content: space-around;

}
.welcome-card{
	display: flex;
	background-color: blue;
	width: 400px;
	height: 320px;
	outline: 10px solid whitesmoke;
	margin-top: -8rem;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.products{
	background-image:linear-gradient(rgba(0,0,0,0.111), rgba(0,0,0,0.3)), url(./img/products.png);
	background-size: cover;
}
.brewing{
	background-image:linear-gradient(rgba(0,0,0,0.111), rgba(0,0,0,0.3)), url(./img/brewing.png);
	background-size: cover;
}
.about{
	background-image:linear-gradient(rgba(0,0,0,0.111), rgba(0,0,0,0.3)), url(./img/abouth.png);
	background-size: cover;
}
/*-----action----*/
.action-cards{
	display: flex;
	justify-content: space-around;
}
.action{
	text-align: center;
}
.action h2{
	padding: 100px;
	letter-spacing: 0.5rem;
}
.action h2, .action h3, .action p{
	color: black;
}
.action-card{
	outline: 1px solid gray;
	width: 350px;
	height: 490px;
	background-color: white;
	margin-bottom: 200px;
}
.action-card p{
	color: red
}
/*---------form--------*/
.subscribe{
	background-image: url(./img/formbg.png);
	background-position: center;
	height: 1000px;
	margin: 0px 50px 100px 50px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

}
input{
	font-size: 2rem;
}
.licence{
	display: flex;
	justify-content: flex-start;
	gap: 1.5rem;
	width: 100%;
	padding: 1rem 4rem 1rem 4rem;
	margin: 2rem 0 2rem 0;
	font-size: 2rem;
	text-align: start;

}
.licence input[type="checkbox"] {
	margin-left: 3rem;
	width: 2rem;
}
/*----tips-----*/
.tips{
	
	/* display: flex; */
}
.tips h2{
	text-align: center;
}
.tips-cards{
	display: flex;
	justify-content: center;
	align-items: center;
}
.tips-card{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 35rem;
	width: 30rem;
	box-shadow: rgb(0 0 0 /24%) 0px 3px 8px;
}
.big-card{
	min-height: 40rem;
	width: 36rem;
}
.tips-card img{
	width: 100%;	
}
/*----------------------Footer----------------*/

footer{
	background-color: rgb(122, 247, 247);
	text-align: center;
}
.footer-menu ul{
	display: flex;
	justify-content: center;
}
.footer-menu ul li{
	font-size: 1.8rem;
}
.soc-icon ul{
	display: flex;
	justify-content: center;
}
.soc-icon ul li{
	font-size: 2rem;
}